.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.lighttheme{
  --primarycolor:white;
  --secondarycolor:black;
 
  
}
.darktheme{
  --primarycolor:black;
  --secondarycolor:white;
  --colcolor:#1c1d1f;
  --headercolor:rgb(15, 14, 14);
}
.customnav{
  background-color: var(--primarycolor);
  position: relative;
  
}
.sidebarnav{
background-color: var(--headercolor);
}
.col1{
  background-color: var(--colcolor);
  color: var(--secondarycolor);
}

.link1{
  color:var(--secondarycolor);
  text-decoration: none;
  list-style-type: none;
  padding: 10px 15px;
 
 
  
}
.link1:hover{
  background-color: rgb(121, 33, 110);
  color: white;
}
.link2:hover{
  text-decoration: none;
}
.watchcolor{
  color: var(--secondarycolor);
}
.inp1{
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: var(--secondarycolor);
}
.inp1:focus{
  
  border: none;
  box-shadow: none;
  color: var(--secondarycolor);
  outline: none;
  
}
.input1{
  border: 1px solid var(--secondarycolor);
  background-color: var(--colcolor);
}
.but1{
  border: none;
  background-color: transparent;
  color: var(--secondarycolor);
  font-size: large;
  
}
.profileicon{
  font-size: xx-large;
  color: var(--secondarycolor);
}
.profileicon1:focus{
  
  box-shadow: none;
  
}
/* .pro1{
  position: relative;
} */
.pro2{
  position: absolute;
  height: 50px;
  color: var(--secondarycolor);
  
}